@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('../assets/left.min.css');

.logo{
    height: 75px;
    width: 100%;
    background-color: #304c58;
   
}
.titre[_ngcontent-c0] {
    height: 41px;
    line-height: 41px;
    width: 100%;
    padding-left: 423px;
    background-color: #ffffff;
    box-shadow: 0 6px 16px -4px #c3c3c3;
    color: #aeb6c6;
    font-size: 18px;
}
.herders{
    width: 126.5%;
    position: fixed;
    z-index: 100;
}
.navbar-fixed-left[_ngcontent-c0], .navbar-fixed-right[_ngcontent-c0]{
    /* position: relative; */
}

@media (min-width: 768px){
.navbar-fixed-left[_ngcontent-c0], .navbar-fixed-right[_ngcontent-c0] {
    width: 237px;
    height: 100vh;
    border-radius: 0;
}
}
.navbar-inverse[_ngcontent-c0] {
    background-color: #304c58;
    border-color: #304c58;
}
.navbar-inverse {
    background-color: #304c58;
    border-color: #304c58
};

.navbar-brand > img {
    /* height: 100px; */
}
.navbar-brand[_ngcontent-c0][_ngcontent-c0] > img[_ngcontent-c0][_ngcontent-c0]{
    display: block;
    height: 190%;
    margin-top: 10px;
}
.icon[_ngcontent-c0] {

    height: 20px;
    width: 20px;
    margin-left: 3px;
    margin-right: 9px;
}
.icon1[_ngcontent-c0] {

    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-right: 9px
}
.navbar-nav{
    margin-top: 60px;
}

.navbar-fixed-left[_ngcontent-c0] .navbar-collapse[_ngcontent-c0] .navbar-nav[_ngcontent-c0] > li[_ngcontent-c0], .navbar-fixed-right[_ngcontent-c0] .navbar-collapse[_ngcontent-c0] .navbar-nav[_ngcontent-c0] > li[_ngcontent-c0]{
    height: 30px;
    font-size: 15px;
}
.navbar-fixed-left[_ngcontent-c0] .navbar-header[_ngcontent-c0], .navbar-fixed-right[_ngcontent-c0] .navbar-header[_ngcontent-c0]{
    margin-bottom: 50px;
}
.content{
    margin-top: 124px;
    background-color: #f3f4f8;
}
