@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-bar-rating/themes/br-square-theme.css';



@font-face {
    font-family: NexaLight;
    src: url('./assets/NexaLight.otf');
}

div ,button{
    font-family: NexaLight;
}
