@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-bar-rating/themes/br-square-theme.css';


.br-square .br-text  {
    letter-spacing: 2px ;
    font-size: 16px ;
    clear: both ;
    width: 178px ;
    text-align: center ;
    font-weight: 600 ;
    display: block ;
    color: #4278f5 ;
}